body{
    background-color: green;
    color: white;
}

.center{
    text-align: center;
    font-size: 2em;
}

.center h1{
    background-color: darkgreen;
}
.center div{
    width: 400px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    margin-top: -41px;
}